<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Solitreo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Solitreo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Solitreo&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/ForgotPage.css" />
    <title>Wedding Spark - Reset password</title>
  </head>
  <body>
    <div class="main_card">
      <div class="Center_Body">
        <div id="Top_Bar">
          <img src="img/Forgot_icon12.jpg" alt="Forgot_img" id="Forgot_logo" />
        </div>
        <div id="Main_1st">Trouble Logging In?</div>
        <div id="Top_Line">Enter your email, phone, or username and we'll send
          you a link to get back into your account.</div>
        <div class="Sign_details">
          <div class="Login_forms">
            <input
              type="email"
              name="email"
              placeholder="Email, Phone or Username"
            />
          </div>
          <button class="button">Send Login Link</button>
          <div id="Last_text">OR</div>
          <div id="D_text"><a href="./Signup">Create New Account</a></div>
          <div id="Back_text"><img
              src="img/Back_icon.png"
              alt="back_img"
              id="Back_logo"
            /><a href="./Login" id="B_text">Back To Login</a></div>
        </div>
      </div>
    </div>
  </body>
</html>