<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kalam&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Solitreo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Solitreo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Solitreo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nanum+Myeongjo&family=Solitreo&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/Home.css" />
    <title>Wedding Spark - Home</title>
  </head>
  <body>
    <div class="Top_portion">
      <div class="Logo">
        <a href="#Home">Wedding Spark</a>
      </div>
      <div class="Navbar">
        <ul>
          <li><a href="#Home">Home</a></li>
          <li><a href="#Services">Services</a></li>
          <li><a href="#Contact">Contact Us</a></li>
          <li><a href="./About.html">About Us</a></li>
          <li><a href="/dashboard">My Booking</a></li>
        </ul>
      </div>
    </div>

    <div class="Main1">
      <div class="Main_left">
        <div class="Main_text">
          <div>
            <span class="Welcome">Welcome</span>
            <label class="userEmail" for="name"><%= email %></label>
          </div>
          All your Search for<br />
          Vendors In Your Local<br />
          Ends Here!<br />
        </div>
        <div class="Inside_Main1">
          Booking vendors near you became very easy with Wedding - Sparks<br />
        </div>
        <div class="Inside_Main2">We believe in making wedding easy!</div>
        <div class="Btn_Btn">
          <a class="button" href="#Services">Explore!</a>
        </div>
      </div>
      <div class="Main_image" data-aos="fade-left">
        <img class="Img1" src="img/Mainbg.png" alt="MainImage" />
      </div>
    </div>
    <div class="Main2_Main" id="Main2_end">
      <div id="Services" class="Heading2">Services</div>
      <div class="Main1" id="Main2_text">
        <div class="Main_image2" data-aos="fade-right">
          <img
            class="Img2"
            src="img/bg2-removebg-preview-removebg-preview.png"
            alt="MainImage"
          />
        </div>
        <div class="Main_text" data-aos="fade-left">
          Searching Catering,<br />DJ, Sound & Decoration<br />
          Explore Now!<br />
          <div class="Inside_Main1" id="Inside_text1">
            We take care of all the things so that you can enjoy your wedding<br />
          </div>
          <div class="Inside_Main2" id="Inside_text2">
            Book the vendors now!
          </div>
          <a class="button" id="BTN2" href="/SearchPage">Search!</a>
        </div>
      </div>
    </div>
    <div class="End">
      <div>
        <img
          class="end_img"
          src="img/Icon1-removebg-preview.png"
          alt="instagram"
        />
      </div>
      <div><img class="end_img" src="img/icon2.png" alt="linkedin" /></div>
      <div>
        <img
          class="end_img"
          src="img/Icon3-removebg-preview.png"
          alt="facebook"
        />
      </div>
    </div>
  </body>
</html>
