<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Solitreo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Solitreo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Solitreo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nanum+Myeongjo&family=Solitreo&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/Signup.css" />
    <title>Wedding Spark - Sign up</title>
  </head>
  <body>
    <div class="main_card">
      <div class="Center_Body">
        <div id="Top_Bar">
          Wedding Spark
        </div>
        <div id="Main_1st">Sign Up</div>
        <form action="/Signup" method="POST">
        <div class="Sign_details">
          <div class="Login_forms">
            <img src="img/User.jpg" alt="Email_img" id="Email_logo" />
            <input type="email" name="email" value="" placeholder="Enter Your Email" />
          </div>
          <div class="Login_forms">
            <img src="img/Password.png" alt="password_img" id="Pass_logo" />
            <input
            value=""
              type="password"
              name="password"
              placeholder="Create password"
            />
          </div>
          <div class="Login_forms">
            <img src="img/Password.png" alt="password_img" id="Pass_logo" />
            <input
            value=""
              type="password"
              name="cpassword"
              placeholder="Confirm password"
            />
          </div>
          <button class="button" type="submit">Sign Up</button>
          <div id="D_text">Have an account?
            <a href="./">Login</a></div>
        </div>
      </div>
      </form>
    </div>
  </body>
</html>