html {
  scroll-behavior: smooth;
}
body {
  background: #fff5f5;
  margin: 0px;
  padding: 0px;
}
.Logo {
  padding-top: 20px;
  padding-left: 30px;
  font-size: 50px;
  font-family: "Great Vibes", cursive;
  color: rgb(218 84 84);
}
.Top_portion {
  padding-bottom: 3px;
  display: flex;
}
a {
  color: rgb(218 84 84);
  text-decoration: none;
}
a:hover {
  color: rgb(145, 4, 4);
}
ul {
  display: flex;
  list-style: none;
}
li {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 17px;
}
.Navbar {
  font-size: 15px;
  font-family: "Nanum Myeongjo", serif;
  margin-left: 286px;
}
.Main1 {
  background-color: rgb(218 84 84);
  display: flex;
  justify-content: space-around;
  padding-bottom: 190px;
}
.Main_text {
  padding-top: 150px;
  padding-left: 50px;
  font-size: 60px;
  font-family: "Cabin", sans-serif;
}
.Inside_Main1 {
  margin-top: 15px;
  margin-left: 50px;
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
}
.Inside_Main2 {
  margin-top: 5px;
  margin-left: 50px;
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
}
.button {
  /* border: 2px solid black; */
  text-decoration: none;
  /* position: relative; */
  /* transition: 0.5s; */
  letter-spacing: 0.1em;
  color: black;
  font-family: "Cabin", sans-serif;
  width: 136px;
  border-radius: 14px;
  margin-left: 55px;
  padding: 10px;
  font-size: 15px;
  background-color: #fff5f5;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 27px;
  padding-left: 27px;
}
.button:hover {
  background-color: rgb(182, 21, 21);
  color: black;
  cursor: pointer;
}
.Btn_Btn {
  margin-top: 25px;
}
.Main2_Main {
  background-color: #fff5f5;
}
#Main2_text {
  background-color: #fff5f5;
  padding-bottom: 100px;
  border-bottom: 1px solid rgb(218 84 84);
}
.Main_image {
  margin-top: 125px;
}
.Main_image2 {
  margin-top: 0px;
}
.Heading2 {
  font-size: 60px;
  padding-top: 15px;
  font-family: "PT Sans", sans-serif;
  display: flex;
  justify-content: center;
}
#BTN2 {
  margin-left: 10px;
  background-color: rgb(218 84 84);
}
#BTN2:hover {
  background-color: rgb(182, 21, 21);
}
#Inside_text1 {
  margin-left: 9px;
}
#Inside_text2 {
  margin-left: 9px;
}
.End {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.end_img {
  width: 30px;
  height: 30px;
}

.userEmail {
  font-size: 18px;
  font-weight: bold;
  color: #fcfcfc;
}

.Welcome {
  font-size: 18px;
  font-weight: bold;
  color: #3498db;
}
